# CMake
CMakeCache.txt
CMakeFiles/
CMakeDumps/
cmake_install.cmake
include/

# Git
exclude/

# Build directories
build/
Makefile

# IDE files
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln

# MacOS
.DS_Store

# Windows
Thumbs.db